body {
  margin: 0;
}
.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: fit-content;
}

.box {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.box.visible {
  visibility: hidden;
}

.box.selected {
  background-color: #1fbd5d;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}
